
.navigation{
    margin:0;
    color:white
}
.top-navigation{
    display:flex;
    justify-content:center

}


.top-navigation-middle{
    margin-top:10px;
    padding-right:35px;
    padding-left:35px;
}

.navigation-backdrop{
    background-image: url('../images/landing-coffee.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    height:900px;
    opacity:.8

}

#nav-intro{
    padding-top: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-shadow: 8px 3px black;
    color: white;
}

nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 2px 2px black;

}

a{
    color:white;
    text-decoration:none;
}

#signup, #login{
    text-shadow: 2px 2px black;
    color: white;

}